<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eclubprague.iot.android.driothub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".services.BuiltInSensorsProviderService"
            android:enabled="true" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <data
                android:host="gitkit"
                android:scheme="com.googleusercontent.apps.443649814858-lvc1abj9ccnudm6l199f23ddqapgo1u3" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eclubprague.iot.android.driothub.LoginActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="identitytoolkit.show_providers"
            android:value="Google" />
        <meta-data
            android:name="identitytoolkit.use_google_plus"
            android:value="true" />
        <meta-data
            android:name="identitytoolkit.api_key"
            android:value="AIzaSyA-9RrPXULoa-qLON2utpFCw8kmdRAMBMY" />
        <meta-data
            android:name="identitytoolkit.server_client_id"
            android:value="443649814858-lvc1abj9ccnudm6l199f23ddqapgo1u3.apps.googleusercontent.com" />
        <meta-data
            android:name="identitytoolkit.server_widget_url"
            android:value="http://mlha-139.sin.cvut.cz:8080/callback" />
    </application>

</manifest>
